body {
  background-color: rgba(225, 248, 255, 0.43);
  color: #3A869C;
}

hr {
  border: 0;
  color: #f00;
  background-color: #a9babf;
  height: 2px;
  width: 300px;
}

.div-center {
  margin-left:auto;
  margin-right:auto;
}

.btn-default:focus,
.btn-default.active,
.btn-default:active {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-group-tabs {
  margin: 0 auto;
  text-align: center;
}

.logo-header-text {
  color: #45a6a3;
  font-weight: bold;
}

.panel-body {
  padding: 0px;
}

.panel-inner-content {
  width: 90%;
  max-width: 750px;
  margin: 0 auto;
}

.canvas-live-tracking {
  height: 250px;
  width: 100%;
  border: 1px solid #3A869C;
}

.static-device-status {
  color: #000000;
}

.dynamic-device-status {
  color: #49a665;
  text-align: center;
  font-size: 16px;
}

.dynamic-device-status-inactive {
  color: #bbbbbb;
  text-align: center;
  font-size: 16px;
}

.footer-text {
  color: #45a6a3;
}

