
<div ng-controller="ViewPlaybackPartialCtrl" ng-init="init()">

    <div class="animated bounceInRight">
        <div class="panel-inner-content">
            <h5 class="static-device-status">Playback mode:</h5>

            <div>
                <select>
                    <option value="Test1">Test1</option>
                    <option value="Test2">Test2</option>
                    <option value="Test3">Test3</option>
                </select>
            </div>

            <br>

            <div class="btn-group-tabs">
                <button type="button" class="btn btn-success" link-click="/live">Play</button>
                <button type="button" class="btn btn-danger" link-click="/playback">Delete All</button>
            </div>

        </div>
    </div>

</div>