
<div ng-controller="ViewLivePartialCtrl" ng-init="init()">
  <div class="btn-group-tabs">
      <button type="button" class="btn btn-success" ng-click="toggleRecording()">Start Recording</button>
  </div>

  <hr>

  <div class="animated bounceInRight">
    <div class="panel-inner-content">
      <h5 class="static-device-status">Device Status:</h5>
      <div class="panel panel-success">
        <div class="panel-body">
          <h5 id="" class="dynamic-device-status-inactive" ng-class="deviceStatusColor">{{lm_DeviceStatus}}</h5>
        </div>
      </div>

      <h5 class="static-device-status">Live Stats:</h5>
      <div class="panel panel-info">
        <table class="table table-hover table-bordered">
          <tr>
            <td width="70%"><b>FPS</b></td>
            <td>{{lm_fps}}</td>
          </tr>

          <tr>
            <td><b>Hands</b></td>
            <td>{{lm_numHands}}</td>
          </tr>

          <tr>
            <td><b>Fingers</b></td>
            <td>{{lm_numFingers}}</td>
          </tr>
        </table>
      </div>

      <h5 class="static-device-status">Live View:</h5>
      <canvas id="canvas-sandbox" class="canvas-live-tracking"></canvas>
    </div>
  </div>

</div>